* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf7f7;
    color: #444;
}

header {
    background-color: white;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #eee;
}

header h1 {
    color: #e87f82;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #555;
}

nav a:hover {
    color: #e87f82;
}

main {
    width: 85%;
    max-width: 1000px;

    margin: 40px auto;
}

.titulo {
    margin-bottom: 30px;
}

.titulo h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.titulo p {
    color: #777;
}

.resumo {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(200px, 1fr));

    gap: 20px;

    margin-bottom: 30px;
}

.info {
    background-color: white;

    padding: 20px;

    border-radius: 12px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.05);

    display: flex;
    flex-direction: column;

    gap: 10px;
}

.info span {
    color: #777;
}

.info strong {
    color: #e87f82;
    font-size: 18px;
}

.registro {
    background-color: white;

    padding: 30px;

    border-radius: 12px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.registro h3 {
    margin-bottom: 25px;
    color: #e87f82;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 7px;
}

input,
select,
textarea {
    padding: 12px;

    margin-bottom: 18px;

    border: 1px solid #ddd;
    border-radius: 5px;

    background-color: #f8f8f8;

    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #e87f82;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button {
    width: 160px;

    padding: 11px;

    background-color: #e87f82;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

button:hover {
    background-color: #dc7074;
}

.ciclo-item {
    background-color: #fff7f7;

    padding: 18px;
    margin-bottom: 15px;

    border-left: 4px solid #e87f82;
    border-radius: 8px;
}

.ciclo-item p {
    margin-bottom: 6px;
}