* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fdf7f7;
    color: #444;
}

header {
    background-color: white;
    padding: 20px 8%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #eee;
}

header h1 {
    color: #e87f82;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #555;
}

nav a:hover {
    color: #e87f82;
}

main {
    width: 85%;
    max-width: 900px;
    margin: 40px auto;
}

.titulo {
    margin-bottom: 30px;
}

.titulo h2 {
    font-size: 30px;
    margin-bottom: 8px;
}

.titulo p {
    color: #777;
}

.registro,
.historico {
    background-color: white;

    padding: 30px;
    margin-bottom: 25px;

    border-radius: 12px;

    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
}

.registro h3,
.historico h3 {
    color: #e87f82;
    margin-bottom: 20px;
}

.opcoes {
    display: grid;

    grid-template-columns:
        repeat(auto-fit, minmax(150px, 1fr));

    gap: 12px;

    margin-bottom: 25px;
}

.opcoes label {
    background-color: #fff2f2;

    padding: 12px;

    border-radius: 8px;

    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form > label {
    margin-bottom: 7px;
}

select,
textarea,
input[type="range"] {
    margin-bottom: 20px;
}

select,
textarea {
    padding: 12px;

    border: 1px solid #ddd;
    border-radius: 5px;

    background-color: #f8f8f8;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button {
    width: 160px;

    padding: 11px;

    background-color: #e87f82;
    color: white;

    border: none;
    border-radius: 6px;

    cursor: pointer;
}

button:hover {
    background-color: #dc7074;
}

#mensagem {
    margin-top: 15px;

    color: #d96d72;
    font-weight: bold;
}

.registro-sintoma {
    background-color: #fff7f7;

    padding: 18px;

    margin-bottom: 15px;

    border-left: 4px solid #e87f82;
    border-radius: 8px;
}

.registro-sintoma p {
    margin-bottom: 6px;
}